
.music-title {
    font-size: 2rem;
    width: 50vh;
    margin-top: 4rem;
    margin-left: 4rem;
}
.streaming-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 9rem;
    margin-left: 7rem;
    margin-bottom: 2%;
}

.music-container {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    margin-left: 4rem;
}
.audius-logo {
    width: 6rem;
}

.youtube-logo {
    width: 8rem;
}
.spotify-logo {
    width: 10rem;
}
@media screen and (max-width: 1024px) {
    .music-container {
        display: flex;
        flex-direction: column;
       } 
       .streaming-container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-top: 11rem;
        margin-left: 7rem;
    } 
}

@media screen and (max-width: 768px) {
   .music-container {
    display: flex;
    flex-direction: column;
   } 
}

@media screen and (max-width: 480px) {
    .music-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 39% !important;
       } 
       .music-title {
        font-size: 3.5vh;
        width: 23vh;
        margin-top: 2% !important;
        margin-left: 0;
        margin-bottom: 20%;
    }
    .streaming-container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-top: 11rem;
        margin-left: 2rem;
        margin-bottom: 40%;
    }.audius-logo {
        width: 6rem;

    
    }
    
    .youtube-logo {
        width: 8rem;
  
    }
    .spotify-logo {
        width: 10rem;
    
    }

}

@media screen and (max-width: 280px) {
    .music-title {
        font-size: 2rem;
        width: 14vh !important;
        margin-top: 4rem;
        margin-left: 0 !important;
    }
    
}